.home-container {
  padding-top: 20px;
}

.home-sidebar {
  border-left: 1px solid lightgrey;
}

.tag-badge {
  margin-left: 5px;
  font-size: 14px;
}

.container {
  position: relative;
}

.footer {
  bottom: unset !important;
}

.trending-tag {
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}

.filter-tags {
  margin-top: 20px;
}
